@model TeamDetailsViewModel;

@{
    ViewData["Title"] = $"{Model.Name} - Ενέργειες";
    ViewData["Banner"] = Model.Name;
}

<div class="row g-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center p-4">
                <i class="bi bi-eye-fill display-4 mb-3"></i>
                <h5 class="card-title">Προβολή</h5>
                <a asp-controller="Team" asp-action="Details" asp-route-idOrSlug="@Model.Slug"
                   class="stretched-link"></a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center p-4">
                <i class="bi bi-pencil display-4 mb-3"></i>
                <h5 class="card-title">Επεξεργασία</h5>
                <a asp-controller="Team" asp-action="Edit" asp-route-idOrSlug="@Model.Slug"
                   class="stretched-link"></a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center p-4">
                <i class="bi bi-card-image display-4 mb-3"></i>
                <h5 class="card-title">Υλικό</h5>
                <a asp-controller="Team" asp-action="EditMedia" asp-route-idOrSlug="@Model.Slug"
                   class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>