@model LoginViewModel

@{
    ViewData["Title"] = "Σύνδεση";
    ViewData["Banner"] = "Σύνδεση";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow-lg border-0 mt-2 p-2">
            <div class="card-body p-4">
                <form asp-action="Login" method="post">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label fw-semibold"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label fw-semibold"></label>
                        <input asp-for="Password" class="form-control" type="password" placeholder="••••••••"/>
                        <span asp-validation-for="Password" class="text-danger small"></span>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Σύνδεση</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}