@{
    ViewData["Title"] = "Διαχείριση";
    ViewData["Banner"] = "Διαχείριση";
}

@if (User.IsInRole("Admin"))
{
    <div class="row g-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center p-4">
                    <i class="bi bi-people-fill display-4 mb-3 "></i>
                    <h5 class="card-title">Διαχείριση Ομάδων</h5>
                    <a asp-controller="Team" asp-action="Manage" class="stretched-link"></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center p-4">
                    <i class="bi bi-controller display-4 mb-3 "></i>
                    <h5 class="card-title">Διαχείριση Παιχνιδιών</h5>
                    <a asp-controller="Game" asp-action="Manage" class="stretched-link"></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center p-4">
                    <i class="bi bi-person-fill-gear display-4 mb-3 "></i>
                    <h5 class="card-title">Διαχείριση Χρηστών</h5>
                    <a asp-controller="UserManagement" asp-action="Manage" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
}

@if (User.IsInRole("Manager"))
{
    <div class="mt-4">
        <div class="list-group mt-4">
            @if (ViewBag.TeamList is IEnumerable<TeamDetailsViewModel> teamList)
            {
                var teamDetailsViewModels = teamList as TeamDetailsViewModel[] ?? teamList.ToArray();
                if (teamDetailsViewModels.Any())
                {
                    @foreach (var team in teamDetailsViewModels)
                    {
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <span>@team.Name</span>
                            </div>
                            <a asp-controller="Team" asp-action="Actions" asp-route-idOrSlug="@team.Slug" class="btn btn-secondary btn-sm">Ενέργειες</a>
                        </div>
                    }
                }
            }
        </div>

        @if (ViewBag.TeamList == null || (ViewBag.TeamList is IEnumerable<TeamDetailsViewModel> emptyList && !emptyList.Any()))
        {
            <p class="text-center text-muted">Δεν έχετε ομάδες προς διαχείριση.</p>
        }
    </div>
}