@{
    ViewData["Title"] = "Διαχείριση";
    ViewData["Banner"] = "Διαχείριση";
}

<div class="row g-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center p-4">
                <i class="bi bi-people-fill display-4 mb-3 "></i>
                <h5 class="card-title">Διαχείριση Ομάδων</h5>
                <a asp-controller="Team" asp-action="Manage" class="stretched-link"></a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center p-4">
                <i class="bi bi-controller display-4 mb-3 "></i>
                <h5 class="card-title">Διαχείριση Παιχνιδιών</h5>
                <a asp-controller="Game" asp-action="Manage" class="stretched-link"></a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center p-4">
                <i class="bi bi-person-fill-gear display-4 mb-3 "></i>
                <h5 class="card-title">Διαχείριση Χρηστών</h5>
                <a asp-controller="UserManagement" asp-action="Index" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>