@{
    ViewData["Title"] = "404";
}

<div class="text-center">
    <h1 class="display-4">404</h1>
    <p>Η σελίδα που ζητήσατε δεν βρέθηκε.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Αρχική σελίδα</a>
</div>