@if (TempData["success-alert"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["success-alert"]</strong>
    </div>
}

@if (TempData["error-alert"] != null)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["error-alert"]</strong>
    </div>
}

@if (TempData["warning-alert"] != null)
{
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["warning-alert"]</strong>
    </div>
}

@if (TempData["info-alert"] != null)
{
    <div class="alert alert-dismissible alert-info">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["info-alert"]</strong>
    </div>
}